#anchorPane {
    -fx-background-color: #575757;
}
.label {
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell:even, .list-cell:odd{
    -fx-background-color: #575757;
}

.list-cell:filled {
    -fx-text-fill: white;
}

.list-cell:selected, .list-cell:focused{
    -fx-background-color: #6e8073;
    -fx-text-fill: #00ff4e;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 1.5;
    -fx-border-color: gray;
}
.button:hover {
    -fx-background-color: #898989;
}
.button:pressed {
    -fx-background-color: #4d4d4d;
}
.text-field {
    -fx-background-color: gray;
    -fx-text-fill: white;
}
.scroll-bar{
    -fx-background-color: transparent;
}
.scroll-bar .thumb{
    -fx-background-color: #707070;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #787878;
}
.scroll-bar > .increment-button{
    -fx-background-color: transparent;
}
.scroll-bar > .decrement-button{
    -fx-background-color: transparent;
}

.check-box{
    -fx-text-fill: white;
}

.check-box:selected .box{
    -fx-background-color: #00FF4EFF;
}

.check-box .box{
    -fx-background-color: #6e8073;
}

.hyperlink{
    -fx-text-fill: cyan;
}
.hyperlink:pressed, .hyperlink:focused{
    -fx-border-color: transparent;
}